doctype html
html
  head
    title tegnespillet
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower", rel="stylesheet")
  body
    #app Laster...
    script(src=`/dist/build.js?${Date.now()}`)
